@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Sizes */
    --max-width: 1270px;
    /* Spaces */
    --general-padding: 2rem;
    /* Colors */
    --primary-color: #8570ff;
    --secondary-color: #f3f4f6;
    --text-color: #1f2937;
    --btn-bg: #e6e7eb;
    --icon-color: #9ca3af;
    /* Sidebar */
    --sidebar-w: 16rem;
    --sidebar-p: 1rem;
    /* Navbar */
    --navbar-h: 4rem;
}