@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --container-max-width: 1104px;
    --main-bg-color: #0f1d2d;
    --main-text-color: #cbd5e1;
    --accent-color: #2275ea;
    --text-primary-color: #94a3b8;
    --btn-inverse-color: #334155;
    --card-info-n: 3;
    --card-info-gap: 3%;
    --card-info-w: calc((100% / var(--card-info-n)) - var(--card-info-gap));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

html, body {
    font-size: 16px; /* 4rem -> 4 * 16px = 64px */
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
}

p {
    font-size: 1.25rem;
    line-height: 1.85rem;
    color: var(--text-primary-color);
}

button {
    background-color: transparent;
    border: none;
}

.btn {
    border-radius: 2px;
    padding: 0.75rem 1.5rem;
    color: white;
    opacity: 0.8;
    transition: all ease-in-out 0.20s;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
}

.btn.btn-primary {
    background-color: var(--accent-color);
}

.btn.btn-inverse {
    background-color: var(--btn-inverse-color);
}

.container {
    width: 100%;
    max-width: var(--container-max-width);
    margin: auto;
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 30px;
}

/* NAVBAR */

nav {
    background-color: var(--main-bg-color);
}

nav * {
    color: var(--main-text-color);
}

nav .navbar__menu {
    display: flex;
    flex-grow: 1;
    gap: 20px;
}

nav .navbar__menu .navbar__menu-item a {
    cursor: pointer;
    transition: all ease-in-out 0.15s;
}

nav .navbar__menu .navbar__menu-item a:hover {
    color: var(--accent-color);
}

nav .navbar__actions {
    display: flex;
    gap: 20px;
}

nav .navbar__logo img {
    height: 32px;
    width: 32px;
}

/* HEADER */

header {
    background-color: var(--main-bg-color);
    padding: 50px 0;
}

header * {
    color: var(--main-text-color);
}

header .header__content {
    display: flex;
}

header .header__content .header__content-left h1 {
    font-size: 4rem;
    color: white;
}

header .header__content .header__content-left p {
    font-weight: 300;
    margin: 25px 0;
}

header .header__content .header__content-left .header__content-left-cta {
    display: flex;
    gap: 1.25rem;
}

header .header__content .header__content-right img {
    width: 540px;
    height: auto;
}

/* MAIN */

main section#info-section {
    display: flex;
    flex-wrap: wrap;
    gap: var(--card-info-gap);
}

main section#info-section .card-info {
    width: var(--card-info-w);
    margin-top: 4rem;
}

main section#info-section .card-info .card-info__header img {
    width: 64px;
    height: 64px;
}

main section#info-section .card-info .card-info__body h3 {
    font-size: 1.75rem;
    margin: 15px 0;
}

main section#info-section .card-info .card-info__body p {
    font-size: 1.15rem;
    line-height: 1.65rem;
}