@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("./root.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    list-style: none;
    text-decoration: none;
}

html, body {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    height: 3000px;
}

p, span, a, div, button {
    color: var(--text-color);
    font-size: 1rem;
}

h1 {
    font-size: var(--h1-size);
    font-weight: 700;
    color: var(--primary-color);
}

h2 {
    font-size: var(--h2-size);
    font-weight: 700;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .container {
    width: 100%;
    max-width: var(--max-width);
}

/* Buttons */
.btn {
    padding: 10px 20px;
    border-radius: 0.5rem;
    color: white;
    border: none;
    cursor: pointer;
}

.btn.btn-primary {
    background-color: var(--primary-color);
}

.btn.btn-primary:hover {
    background-color: var(--btn-hover-color);
}

/* Utilities */

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.p-12 {
    padding: var(--general-padding);
}

.px-12 {
    padding: 0 var(--general-padding);
}

.py-12 {
    padding: var(--general-padding) 0;
}

/* Navbar */
nav {
    height: var(--navbar-h);
    justify-content: center;
    background-color: var(--bg-color);
    box-shadow: var(--nav-box-shadow);
    position: fixed;
    left: 0;
    top: 0;
}

nav .nav__logo h3 {
    font-size: var(--logo-size);
    color: var(--primary-color);
}

nav .nav__menu {
    gap: 35px;
}

nav .nav__menu .nav__menu-item a {
    font-weight: 500;
    cursor: pointer;
}

nav .nav__menu .nav__menu-item a:hover {
    color: var(--primary-color);
}

/* Header */
header {
    margin-top: var(--navbar-h);
}

header .header__title p {
    font-size: var(--h2-size);
    font-weight: 700;
    margin-bottom: 20px;
}

header .header__image img {
    width: 660px;
    height: auto;
}